<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter">
  {{titulo}}
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLongTitle">{{titulo}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="form-group col">
            <input [(ngModel)]="usuario.email" type="mail" class="form-control" name="username" id="username" placeholder="Email" autofocus
              required #email="ngModel">
          </div>

          <div class="form-group col">
            <input [(ngModel)]="usuario.password" type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required #password="ngModel">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group col-sm">
          <input type="submit" class="btn btn-lg btn-primary btn-block" value="Iniciar sesión" (click)='login()' data-dismiss="modal">
        </div>
      </div>
    </div>
  </div>
</div>
