<div class="alert alert-warning" role="alert" *ngIf="!authService.isAuthenticated()">
  Inicia sesión para ver tus solicitudes de donación
</div>

<div class="card-body text-dark" *ngIf="authService.isAuthenticated()">
  <h5 class="card-title">Aquí podrás ver todas las solicitudes de donación</h5>

  <!-- <label for="empresa">¿Buscas alguna en concreto? Introduce la empresa</label>
  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="empresa" placeholder="Empresa" name="empresa" (keyup.enter)="getEmpresasByPoblacion()">
    <div class="input-group-append">
      <span class="btn btn-primary" (click)="getEmpresasByPoblacion()">Buscar</span>
    </div>
  </div> -->

  <div class="dropdown-divider my-3"></div>

  <div class="alert alert-warning text-center" role="alert"
    *ngIf="listaDonaciones.length <= 0 && authService.hasRole('ROLE_DONANTE')">
    Aún no has hecho ninguna solicitud de donación. <a [routerLink]="['/empresas']" class="badge badge-warning">Comienza
      ya a donar</a>
  </div>

  <div class="alert alert-warning text-center" role="alert"
    *ngIf="listaDonaciones.length <= 0 && authService.hasRole('ROLE_EMPRESA')">
    Aún no has recibido ninguna solicitud de donación
  </div>

  <table class="table table-hover my-3" *ngIf="listaDonaciones.length > 0">
    <thead>
      <tr>
        <th scope="col" *ngIf="authService.hasRole('ROLE_DONANTE')">Empresa o institución</th>
        <th scope="col" *ngIf="authService.hasRole('ROLE_EMPRESA')">Nombre del donante</th>
        <th scope="col">Descripción</th>
        <th scope="col" class="text-center">Estado de la solicitud</th>
        <th scope="col" class="text-right">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let donacion of listaDonaciones">
        <th scope="row" *ngIf="authService.hasRole('ROLE_DONANTE')">{{donacion.empresa.nombre | titlecase}}</th>
        <th scope="row" *ngIf="authService.hasRole('ROLE_EMPRESA')">{{donacion.donante.nombre | titlecase}}</th>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
              data-display="static">
              Ver </button>
            <div class="dropdown-menu p-4">
              <pre>{{donacion.descripcion}}</pre>
            </div>
          </div>
        </td>
        <td *ngIf="donacion.estado === 'PENDIENTE'" class="text-center"><span
            class="badge badge-pill badge-warning">PENDIENTE</span></td>
        <td *ngIf="donacion.estado === 'ACEPTADO'" class="text-center"><span
            class="badge badge-pill badge-success">ACEPTADA</span></td>
        <td *ngIf="donacion.estado === 'CANCELADO'" class="text-center"><span
            class="badge badge-pill badge-danger">CANCELADA</span></td>
        <td *ngIf="authService.hasRole('ROLE_DONANTE') && donacion.estado === 'PENDIENTE'" class="text-right">
          <a type="button" [routerLink]="['/solicitud-donacion/form', donacion.id]" class="btn btn-sm align-right">
            <ng-material-icon icon="create" color="#007bff"></ng-material-icon>
          </a>
          <a type="button" (click)='delete(donacion)' class="btn btn-sm align-right">
            <ng-material-icon icon="delete_forever" color="red"></ng-material-icon>
          </a>
        </td>
        <td *ngIf="authService.hasRole('ROLE_EMPRESA') && donacion.estado === 'PENDIENTE'" class="text-right">
          <button type="button" (click)='accept(donacion)' class="btn btn-sm btn-success">
            Aceptar solicitud </button>
          <button type="button" (click)='refuse(donacion)' class="btn btn-danger btn-sm mx-1">
            Rechazar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-paginator-donaciones-nav *ngIf="paginador" [paginador]="paginador"></app-paginator-donaciones-nav>
</div>
